## Load data

In [1]:
from load_data import load_main_data

# main dataset
df, num_features, cat_features = load_main_data()

Cat features distributions
|    | Name             | Vals                                         | Counts        |
|---:|:-----------------|:---------------------------------------------|:--------------|
|  0 | mainroad         | ['no' 'yes']                                 | [ 76 456]     |
|  1 | guestroom        | ['no' 'yes']                                 | [437  95]     |
|  2 | basement         | ['no' 'yes']                                 | [346 186]     |
|  3 | hotwaterheating  | ['no' 'yes']                                 | [507  25]     |
|  4 | airconditioning  | ['no' 'yes']                                 | [364 168]     |
|  5 | prefarea         | ['no' 'yes']                                 | [406 126]     |
|  6 | furnishingstatus | ['furnished' 'semi-furnished' 'unfurnished'] | [137 223 172] |

Cat features converted to numerical (avoid overfitting on rare samples)
|    | Name      | Vals          | Counts                    |
|---:|:----------|:--------------|:--------------------------|
|  0 | bathrooms | [1 2 3 4]     | [393 128  10   1]         |
|  1 | bedrooms  | [1 2 3 4 5 6] | [  2 131 292  95  10   2] |
|  2 | stories   | [1 2 3 4]     | [223 231  38  40]         |
|  3 | parking   | [0 1 2 3]     | [292 121 107  12]         |

DataFrame:
|    |    price |   area |   bedrooms |   bathrooms |   stories | mainroad   | guestroom   | basement   | hotwaterheating   | airconditioning   |   parking | prefarea   | furnishingstatus   |
|---:|---------:|-------:|-----------:|------------:|----------:|:-----------|:------------|:-----------|:------------------|:------------------|----------:|:-----------|:-------------------|
|  0 | 13300000 |   7420 |          4 |           2 |         3 | yes        | no          | no         | no                | yes               |         2 | yes        | furnished          |
|  1 | 12250000 |   8960 |          4 |           4 |         4 | yes        | no          | no         | no                | yes               |         3 | no         | furnished          |
|  2 | 12250000 |   9960 |          3 |           2 |         2 | yes        | no          | yes        | no                | no                |         2 | yes        | semi-furnished     |

#### Train-test split

In [2]:
from utils import plot_split_results

df, df_test = plot_split_results(df, test_size=0.2, num_quantiles=10, seed=42)

TypeError: plot_split_results() got multiple values for argument 'test_size'

### Additional dataset

In [2]:
from load_data import load_add_data

# additional dataset
df_add, num_features_add, cat_features_add = load_add_data(
    df, num_features, cat_features
)

Find duplicates. Dropping them...
Numerical features before removing extra values
|    | Name      | Vals                                     | Counts                                                             |
|---:|:----------|:-----------------------------------------|:-------------------------------------------------------------------|
|  0 | bedrooms  | [ 0  1  2  3  4  5  6  7  8  9 10 11 33] | [  13  194 2737 9730 6849 1586  265   38   13    6    3    1    1] |
|  1 | bathrooms | [0 1 2 3 4 5 6 7 8]                      | [   85  8254 10481  2217   335    48    12     2     2]            |
|  2 | stories   | [1 2 3]                                  | [12447  8370   619]                                                |

Final numerical features
|    | Name      | Vals          | Counts                          |
|---:|:----------|:--------------|:--------------------------------|
|  0 | bedrooms  | [1 2 3 4 5 6] | [ 164 2709 9714 6828 1561  252] |
|  1 | bathrooms | [1 2 3 4]     | [ 8248 10465  2197   318]       |
|  2 | stories   | [1 2 3]       | [12338  8276   614]             |

Additional DataFrame
|    |   bedrooms |   bathrooms |   area |   stories |   price |
|---:|-----------:|------------:|-------:|----------:|--------:|
|  0 |          2 |           1 |   5650 |         1 |  231300 |
|  1 |          3 |           2 |   7242 |         2 |  538000 |
|  2 |          2 |           1 |  10000 |         1 |  180000 |

#### Filling missing features with simple models

In [128]:
from utils import preprocess_data
from generate_data import fill_features

df_pre = preprocess_data(df, ["price"] + num_features_add, cat_features_add)
df_add_pre = preprocess_data(df_add, ["price"] + num_features_add, cat_features_add)

df_add = fill_features(
    df, df_pre, df_add, df_add_pre,
    list(set(cat_features) - set(cat_features_add))
)
df_add = fill_features(
    df, df_pre, df_add, df_add_pre,
    list(set(num_features) - set(num_features_add)), is_cat=False
)

print()
print(df_add.head(3).to_markdown())

### Synthetic data

In [1]:
from generate_data import generate_synt

df_synt = generate_synt(df, num_features, cat_features, num_samples=5000)

NameError: name 'df' is not defined

## Metrics